* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(
    to right,
    rgb(51, 121, 200),
    rgb(51, 121, 200) /* rgb(214, 130, 172) */
  );
  font-family: sans-serif;
  color: azure;
  padding-bottom: 100px;
}

.app {
  opacity: 0;
  transition: all 0.5s;
}

.blur {
  filter: brightness(20%);
  /* backdrop-filter: black; */
  /* filter: blur(5px); */
  /* background-color: rgba(255, 255, 255, 0.4); */
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  transition: all 0.5s;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__name {
  background-image: linear-gradient(
    to bottom,
    rgb(199, 70, 38),
    rgb(105, 14, 14)
  );
  text-align: center;
  margin: 30px;
  width: 350px;
  font-size: 60px;
  border: none;
  border-radius: 50px;
  padding: 10px;
  background-color: rgb(13, 66, 66);
  font-style: italic;
}

.timer,
.question {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  font-size: 40px;
}

.question {
  background-color: black;
  width: 50%;
  margin: auto;
  margin-bottom: 30px;
  padding: 20px;
  font-size: 30px;
  border: 10px solid white;
  border-radius: 10px;
  font-style: italic;
}

.timer {
  font-size: 30px;
  font-weight: bold;
}

.answers {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.answer {
  text-align: center;
  margin-bottom: 40px;
  border: 10px solid rgb(255, 255, 255);
  background-image: linear-gradient(
    to left,
    rgb(193, 199, 183),
    rgb(235, 240, 228) /* rgb(234, 210, 230) */
  );
  border-radius: 50%;
  width: 20%;
  padding: 40px;
  margin: 10px;
  margin-left: 30px;
  font-weight: bold;
  cursor: pointer;
  font-size: 20px;
  color: rgb(5, 31, 31);
}

.answer:hover {
  transform: translateY(-8px);
  color: #fff;
  background: rgb(39, 141, 14);
  transition: transform 0.5s;
}

.result {
  text-align: center;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(
    to bottom,
    rgb(42, 92, 184),
    rgb(131, 148, 34)
  ); */
  background-color: rgb(133, 56, 7);
  width: 30%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 25px;
  transform: translateY(-110%);
  /* opacity: 0; */
  visibility: hidden;
  transition: opacity 0.5s;
  border-radius: 40px;
}

.correct,
.percentage {
  color: rgba(71, 203, 93, 0.981);
}

.restart,
.start {
  /* background-color: rgb(245, 204, 150); */
  background-color: rgb(12, 47, 87);
  padding: 15px 15px 15px 20px;
  font-size: 25px;
  margin: 20px auto;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  color: white;
}

.restart:hover,
.start:hover {
  transform: translateY(-2px);
  background-color: rgba(27, 89, 37, 0.981);
  transition: transform 0.5s;
}

.welcome {
  text-align: center;
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  /* background-image: linear-gradient(
    to bottom,
    rgb(39, 41, 37),
    rgb(131, 148, 34)
  ); */
  background-color: rgb(195, 104, 13);
  width: 30%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  padding: 25px;
  transform: translateY(-165%);
  visibility: visible;
  transition: visibility 0.3s;
  border-radius: 40px;
}

.numOfQues {
  background-color: rgb(12, 47, 87);
  padding: 15px;
  font-size: 20px;
  margin-left: 150px;
  margin-top: 4px;
  border: none;
  border-radius: 40px;
  cursor: pointer;
  width: 15%;
  height: 10%;
  text-align: center;
  outline: none;
  color: white;
}

.numOfQues::placeholder {
  opacity: 0.4;
}

.neme {
  font-size: 25px;
}

.roller,
.roller:active,
.roller:visited {
  width: 15%;
  height: 10%;
  font-size: 20px;
  background-color: rgb(51, 121, 200);
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  border-radius: 20px;
  padding: 5px;
}

.roller:hover {
  background-color: rgba(27, 30, 89, 0.981);
}

.decrease {
  transform: translateX(-240%);
}

.increase {
  transform: translateX(-110%);
}
